$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
@import "partials/mixins.scss";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
  .title-small {
    /*width: 16em;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom CSS
========================*/
.artist-group {
  margin-top: 4em;
  margin-bottom: 2em;
  .artist-scroller {
    margin-top: 2em;
    border-top: thin solid #84849C;
    border-bottom: thin solid #84849C;
    padding: 1em;
    max-height: 24em;
    overflow: scroll;
    .artist {
      height: 11em;
    }
  }
  .selected-artist {
    text-align: center;
    .picture-selected {
      @include picture-frame(25em);
      margin-right: auto;
      margin-left: auto;
    }
  }
  .picture-small {
    @include picture-frame(8em);
    text-align: left;
  }
  .picture-small,
  .title-small {
    display: inline-block;
    float: left;
  }
  .title-small {
    margin-top: 1.2em;
    margin-left: 2em;
    padding: 2.2em 2em;
    color: #333;
  }
}