<h1>Some of My Favorite Artists</h1>
	<section class="row artist-group">
		<div class="col-sm-6">
			<div class="artist-scroller list-group">
				<a href="#">
					<div class="well artist">
						<div class="picture-small">
							<img src="../images/AnimalCollective-3.jpg" />
						</div>	
						<p class="title-small">Animal Collective</p>
					</div>
				</a>
				<a href="#">
					<div class="well artist">
						<div class="picture-small">
							<img src="../images/foxygen.jpg" />
						</div>	
						<p class="title-small">Foxygen</p>
					</div>
				</a>
				<a href="#">
					<div class="well artist">
						<div class="picture-small">
							<img src="../images/chance-the-rapper.jpg" />
						</div>	
						<p class="title-small">Chance The Rapper</p>
					</div>
				</a>
				<a href="#">
					<div class="well artist">
						<div class="picture-small">
							<img src="../images/mac-demarco.jpg" />
						</div>	
						<p class="title-small">Mac Demarco</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 selected-artist">
			<div class="picture-selected">
				<img src="../images/AnimalCollective-3.jpg" />
			</div>
			<h2>Animal Collective</h2>
		</div>
	</section>

<div ng-controller="TabsCtrl as tab" class="row">
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default">Favorite Songs</button>
	  <button type="button" class="btn btn-default">Bio</button>
	  <button type="button" class="btn btn-default">Related Artists</button>
	</div>
</div>
<div class="row">
<section class="col-md-offset-4 col-md-8 row well">
	<div class="col-md-6">
		<h3>Tracks</h3>
		<ul class="tracks">
			<li><a href="#">Track Name</a></li>
			<li><a href="#">Track Name</a></li>
			<li><a href="#">Track Name</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<h3>Albums</h3>
		<ul class="tracks">
			<li><a href="#">Album Name</a></li>
			<li><a href="#">Album Name</a></li>
			<li><a href="#">Album Name</a></li>
		</ul>
	</div>
</section>
</div>