<h1>Some of my favorite artists</h1>
	<div class="row">
		<div class="col-sm-12 selected-artist">
			<img src="../images/yeoman.png" />
		</div>
	</div>

<div ng-controller="TabsCtrl as tab" class="row">
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default">Favorite Songs</button>
	  <button type="button" class="btn btn-default">Bio</button>
	  <button type="button" class="btn btn-default">Related Artists</button>
	</div>
</div>
<div class="row well">
	<ul class="tracks">
		<li><a href="#">Track Name</a></li>
		<li><a href="#">Track Name</a></li>
		<li><a href="#">Track Name</a></li>
</div>