<h1>Some of My Favorite Artists</h1>
	<section class="row artist-group">
		<div class="col-sm-6">
			<div class="artist-scroller list-group">
				<a href ng-click="setArtist($index)" ng-repeat="artist in artists">
					<div class="well artist">
						<div class="picture-small">
							<img ng-src="{{artist.image}}" />
						</div>	
						<p class="title-small">{{artist.name}}</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 selected-artist">
			<div class="picture-selected">
				<img ng-src="{{artists[artistIndex].image}}" />
			</div>
			<h2>{{artists[artistIndex].name}}</h2>
		</div>
	</section>
<div class="row">
	<ul class="btn-group pull-right tabs">
	  <li class="btn btn-default" ng-class="{active:isSet(1)}" ng-click="setTab(1)">Favorite Songs</li>
	  <li class="btn btn-default" ng-class="{active:isSet(2)}" ng-click="setTab(2)">Bio</li>
	  <li class="btn btn-default" ng-class="{active:isSet(3)}" ng-click="setTab(3)">Related Artists</li>
	</ul>
</div>
<div class="row">
	<section class="col-md-offset-4 col-md-8 row well artist-well" ng-show="isSet(1);">
		<div class="col-md-6">
			<h3>Tracks</h3>
			<ul class="tracks">
				<li>{{artists[artistIndex].songs[0]}}</li>
				<li>{{artists[artistIndex].songs[1]}}</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Albums</h3>
			<ul class="tracks">
				<li>{{artists[artistIndex].albums[0]}}</li>
				<li>{{artists[artistIndex].albums[1]}}</li>
			</ul>
		</div>
	</section>
	<section class="col-md-offset-4 col-md-8 row well artist-well" ng-show="isSet(2);">
		<div class="col-md-12">
			<h3>Bio</h3>
			<p>{{artists[artistIndex].bio}}</p>
		</div>
	</section>
	<section class="col-md-offset-4 col-md-8 row well artist-well" ng-show="isSet(3);">
		<div class="col-md-6">
			<h3>Related Artists</h3>
			<ul class="tracks">
				<li>{{artists[artistIndex].relatedArtists[0]}}</li>
				<li>{{artists[artistIndex].relatedArtists[1]}}</li>
				<li>{{artists[artistIndex].relatedArtists[2]}}</li>
			</ul>
		</div>
	</section>
</div>